*{
    margin: 0;
    padding: 0;
}

.content{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: 10%;
}

.h1{
    color: black;
}
a{
    color: black;
}

.fb{
    float: left;
    padding: 10px;
}
.slack{
    float: left;
    padding: 10px;
    
}
.git{
    float: left;
    padding: 10px;
}

.fb:hover{
    color: #3B5998;
}

.git:hover{
    color: #6cc644;
}

.slack:hover{
    color: #ecb32d;
}
