body{
    font-family: arial;
    margin: 0;
    background-image: url(img/background.png);   
}

#main-navigation{
    background: #000000;
    padding: 10px;
}

#main-navigation h2{
    float: left;
    display: inline;
    text-align: left;
    color: #fff;
    margin-top: 0px;
}

#main-navigation ul{
    text-align: right;
    list-style-type: none;
    margin-right: 10px;
}

#main-navigation li{
    display: inline-block;
    margin-left: 20px;
}

#main-navigation a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 6px;
}

#join {
    border: 3px solid green;
    border-radius: 3px;
}

.news {
    margin: 50px auto;
    padding: 15px;
    width: 900px;
    height: auto;
    background-color: #fff;
    border: 3px solid green;
}

.button {
    margin: 50px auto;
    padding: 8px;
    text-align: center;
    background-color: #000;
    width: 200px;
    height: 18px;
    border: 3px solid green;
    border-radius: 3px;
}

.button a{
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;    
}