* {
	box-sizing: border-box;
}

/* O Nas */
section {
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	width: 80vw;
	margin: 0 auto;
	box-shadow: 3px 3px grey;
	opacity: 0.8;
	font-family: 'Barlow Condensed', sans-serif;
}
section h1, p {
	text-align: center;
	overflow: wrap;
}
section p {
	padding: 0 3em;
	font-size: 1.5em;
}
section a {
	text-decoration: none;
	transition: 0.7s;
}
section a:hover {
	color: #1C11ED;
	transform: scale(2.3);
}

